html::-webkit-scrollbar {
    display: none;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

/* Splash page slideshow */
/*---------------------------------------------------------------------------*/
.page1-slideshow span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

#img1{
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/nasa1.jpg);
}
#img2 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/nasa2.jpg);
    animation-delay: 6s;
}
#img3 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/andrew-neel.jpg);
    animation-delay: 12s;
}
#img4 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/chuttersnap.jpg);
    animation-delay: 18s;
}
#img5 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/drew-coffman.jpg);
    animation-delay: 24s;
}
#img6 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/ruthie.jpg);
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*---------------------------------------------------------------------------*/

/* Page 1: 100% Vertical height of display*/
.page1{
    height: 100vh;
    position: relative;
  }

/* Page 2: Map background, 100% vertical height of display. Padding to allow for
navigation bar */
.page2{
    background-image: url('../imgs/map-bk2.png');
    background-size: cover;
    height: 1000px;
    padding-top: 100px;
    position: relative;
    background-repeat: repeat-y;
  }

/* Repository shortcuts */
/*---------------------------------------------------------------------------*/
.repo{
  border-radius: 20px;
  border: solid black 2px;
  margin-bottom: 20px;
  height: 200px;
  background-size: cover;
  opacity: 1;
}

.repo-title{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 50px;
  width: auto;
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.repo:hover {
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
  opacity: 0.9;
  box-shadow: inset 0 0 0 5px rgb(10, 117, 145);
}

#graticule{
  background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
  url(https://github.com/GISJMR/ArcGIS-Create-Graticule-Tool/blob/master/imgs/Map_Grat_WGS84.png?raw=true);
}

#foobar{
  background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
  url(https://github.com/GISJMR/Google_Foobar/blob/master/Images/Foobar_Status_Sep16.PNG?raw=true);
}

#rgb2z{
  background-color: black;
}

#swath{
  background-color: black;
}
/*---------------------------------------------------------------------------*/

/* Bootstrap Navbar */
/*---------------------------------------------------------------------------*/
.navbar{
  background-color: black;
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: rgb(10, 117, 145);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: rgb(10, 117, 145);
}

.fa{
  color: white;
  font-size: 2.5rem;
}

.viewon{
  color: black;
  font-size: 2rem;
}

.fa:hover{
  color: rgb(10, 117, 145);
}
/*---------------------------------------------------------------------------*/

/* Footer, copyright etc. */
.footer {
  bottom: 0;
  position: absolute;
  height: 30px;
  background: white;
  width: 100%;
  text-align: center;
}

/* Scroll button */
/*---------------------------------------------------------------------------*/
#scroll-footer{
  position: absolute;
  bottom: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.scroll-button{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  text-align: center;
}

.scroll-button .fa{
  font-size: 5rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/*---------------------------------------------------------------------------*/
