body{
    background: rgb(214, 239, 249);
}

.header{
    background-image: url("../imgs/header.jpg");
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    position: relative;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.gh{
    text-align: center;
}