/* Fonts and body */
@font-face {
  font-family: Slim Joe;
  src: url(../fonts/SlimJoe.woff) format("woff");
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.woff) format("woff");
}

html::-webkit-scrollbar {
    display: none;
}

html{
  font-size: 17px;
}

body{
  font-family: 'Avenir';
  font-size: 1rem;
  position: relative;
  color: #4c4c4c;
}

/* Splash page slideshow */
/*---------------------------------------------------------------------------*/
.page1-slideshow span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.page1{
    height: 100vh;
    position: relative;
  }

#img1{
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/andrew-neel.jpg);
}
#img2 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/nasa2.jpg);
    animation-delay: 6s;
}
#img3 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/ruthie.jpg);
    animation-delay: 12s;
}
#img4 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/chuttersnap.jpg);
    animation-delay: 18s;
}
#img5 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/drew-coffman.jpg);
    animation-delay: 24s;
}
#img6 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/nasa1.jpg);
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Intro animation. Name and skills  */
.intro{
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.name{
  position: relative;
  width: 100%;
  left: -100%;
  font-size: 50px;
  color: white;
  font-family: "Slim Joe", sans-serif;
  text-shadow: 2px 2px black;
}

.skills{
  position: relative;
  width: 100%;
  left: 200%;
  font-size: 20px;
  color: white;
  font-family: "Slim Joe", sans-serif;
  text-shadow: 2px 2px black;
}

/* Scroll down button with animation */

#scroll-footer{
  position: absolute;
  bottom: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.scroll-button{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  text-align: center;
}

.scroll-button .fa{
  font-size: 3rem;
  color: white;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Bootstrap Navbar */
/*---------------------------------------------------------------------------*/

.navbar-left>li>a{
  padding-left: 10px;
  min-width: 120px;
  width: auto;
  background-size: 100% 200%;
  overflow: hidden;
  height: 51px;
  background-image: linear-gradient(to bottom, black 50%, rgb(10, 117, 145) 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.navbar-inverse .navbar-nav>li>a:hover{
  background-position: 0 -100%;
}

.navbar-inverse .navbar-nav>li>a{
  font-size: 16px;
  color: white;
  font-family: Slim Joe;
  text-align: center;
}

.fa{
  font-size: 1.3em;
}

.fa:hover{
  color: rgb(10, 117, 145);
}

.navbar-brand{
  padding-right: 50px;
}

.navbar-inverse{
  background: black;
  display: none;
}

.navbar-fixed-top{
  border: none;
}

.fa:hover{
  color: rgb(10, 117, 145);
}


/*---------------------------------------------------------------------------*/

#my-content{
  background-image: url(../imgs/cubes.png);
  background-repeat: repeat;
  width: 100%;
}

hr {
  margin-top: 50px;
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(76, 76, 76, 0), rgba(0, 0, 0, 0.75), rgba(76, 76, 76, 0));
}

h1{
  font-size: 2.41rem;
  color: #4c4c4c;
}

#aboutme{
  margin-top: 100px;
  position: relative;
}

#me-mountain{
  background: 50% 50% url(../imgs/king.jpg);
  background-size: contain;
}

#code-pic{
  background: 50% 50% url(../imgs/foobar.png);
  background-size: contain;
}

#arcgis-pic{
  background: url(../imgs/arcgis.png);
}

#map-window{
  height: 100%;
  padding: 0;
  border-top: solid 3px rgb(10, 117, 145);
}

.worksection{
  margin-top: 90px;
}

.img{
  width: 100%;
  height: 200px;
  background: #eee;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
}

.row{
  margin-bottom: 20px;
  overflow: auto;
}

.mypic{
  background: #eee;
  height: 250px;
  width: 100%;
}

.content-card{
  background: #eee;
  border-top: solid 3px rgb(10, 117, 145);
  height: 150px;
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.content-card:hover{
  background: #e8e8e8;
}

/*.content-img{
  background: blue;
  height: 0%;
  margin: 0 -10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: height 0.5s;
  background: 50% 50% url(../imgs/pock.jpg);
  background-size: auto;
}

.content-card:hover .content-img{
  height: 40%;
}*/

.content-desc{
  height: 70%;
  margin: -10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px 0px;
}

.text{
  width: 100%;
  word-wrap: break-word;
  padding-right: 30px;
  overflow: auto;
}

#myfooter{
  height: 200px;
  background: #eee;
  width: 100%;
}
