html::-webkit-scrollbar {
    display: none;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

.caption h3{
  margin: 10px 0px;
}

.page1-slideshow span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

#img1{
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/nasa1.jpg);
}
#img2 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/nasa2.jpg);
    animation-delay: 6s;
}
#img3 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/andrew-neel.jpg);
    animation-delay: 12s;
}
#img4 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/chuttersnap.jpg);
    animation-delay: 18s;
}
#img5 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/drew-coffman.jpg);
    animation-delay: 24s;
}
#img6 {
    background-image: linear-gradient(rgba(147, 141, 141, 0.3), rgba(0, 0, 0, 0.7)), url(../imgs/ruthie.jpg);
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.page1{
    height: 100vh;
    position: relative;
  }

.page2{
    background-image: url('../imgs/map-bk2.png');
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
    position: relative;
  }

.thumbnail{
  height: 100%;
}

.thumbnail:hover{
  border: solid black 2px;
}

.navbar{
  background-color: black;
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: rgb(10, 117, 145);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: rgb(10, 117, 145);
}

.fa{
  color: white;
  font-size: 2.5rem;
}

.viewon{
  color: black;
  font-size: 2rem;
}

.fa:hover{
  color: rgb(10, 117, 145);
}

#footer{
  padding-top: 3px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  height: 30px;
  width: 100%;
  text-align: center;
}

#scroll-footer{
  position: absolute;
  bottom: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.scroll-button{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  text-align: center;
}

.scroll-button .fa{
  font-size: 5rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
