
body{
    background-image: url('imgs/map-bk2.png');
    background-repeat: no-repeat;
}	

.header{
    background-image: url('imgs/header.jpg');
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

h1{
    position: relative;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
}


.logo{
	height: 60px;
	width: 60px;
	margin-bottom: 2px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}


.container{
	float: right;
	height: 200px;
	width: 70px;
	background-color: rgba(255, 255, 255, 0.5);
	
}

.logo:hover {
	opacity: 0.3;    
}